# Ignore Git history
.git
.gitignore
README.md

# Ignore Frontend junk
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/.vercel/
frontend/.env*.local

# Ignore Backend junk
backend/__pycache__/
backend/*.pyc
backend/venv/
backend/.venv/
backend/env/
backend/.env

# Ignore system files
.DS_Store
Thumbs.db