@import "tailwindcss";

:root {
  --background: #0a0b10;
  --background-secondary: #f0f0f0;
  --foreground: #d8d8d8;
  --muted :#555462;
  --accent: #3d2a5a;
}

@theme inline {
  --font-mono: var(--font-inconsolata);
  --font-sans: var(--font-geist-sans);
  
  --color-background: var(--background);
  --color-background-secondary: var(--background-secondary);
  --color-foreground: var(--foreground);
  --color-foreground-mute: var(--mute);
  --color-accent: var(--accent);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --background-secondary: #f0f0f0;
    --foreground: #ededed;
    --accent: #3d2a5a;
    --muted :#555462;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono), Arial, Helvetica, sans-serif;
}
